@import './colors.scss';
@import './constants.scss';

.App {
    height: 100vh;
    background-color: $neutral3-3;

    &__header {
        height: $app-header-height;
        display: flex;
        align-items: center;
        background-color: $secondary2-l3;
        padding: 0 16px;
        box-shadow: 1px 1px 5px $neutral3-6;

        &__title {
            text-decoration: none;
            display: flex;
            align-items: center;
        }

        &__icon {
            font-size: 48px;
            margin-right: 8px;
            color: $primary1;
        }

        &__text {
            font-size: 32px;
            line-height: 40px;
            font-weight: bold;
            color: $neutral3-6;
        }
    }

    &__content {
        height: calc(100vh - #{$app-header-height});
    }
}
